# **CA4. Multiprocessing**
**Sansores Cruz Angel David\
Data Engineering\
Universidad Politécnica de Yucatán\
Ucú, Yucatán, México\
2109139@upy.edu.mx** 

# Part 2. List and Tuples


8. In some cases, it is necessary to efficiently perform insertion or removal of elements
both at the beginning and at the end of the collection. Measure the time for the
following operations with N = 10 000, 20 000 y 30 000 elements:\
    a. Delete last element of a list via pop()\
    b. Delete first element of a list via pop(0)\
    c. Append 1 at the end of the list.\
    d. Insert 1 at the beginning of the list insert(0, 1)\
Make a table with your results. It should looks like table on Chapter 2: Pure Python
Optimization (pp. 38) from the book G. Lenaro (2017). Python high Performance.
Second Edition. UK: Packt Publishing Ltd.

In [1]:
import timeit
import pandas as pd

In [7]:
# Number of elements in each test case
Ns = [10000, 20000, 30000]

# Operations to be measured
operations = {
    "Delete last element (pop)": "lst.pop()",
    "Delete first element (pop(0))": "lst.pop(0)",
    "Append 1 at the end": "lst.append(1)",
    "Insert 1 at the beginning": "lst.insert(0, 1)"
}

# Initialize a dictionary to hold the results for each N
results = {N: {} for N in Ns}

# Measure time for each operation across different list sizes
for N in Ns:
    for description, operation in operations.items():
        setup_code = f"lst = list(range({N}))"
        # Measure the time taken to execute the operation 1000 times
        time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
        # Store the time in microseconds
        results[N][description] = time_taken * 1e6  # convert seconds to microseconds

# Convert the results to a DataFrame for easier visualization
results_df = pd.DataFrame(results).T  # Transpose to have operations as columns and N as rows
results_df.index.name = 'N'
results_df.columns = [f"{col} (µs)" for col in results_df.columns]  # Add units to column names

print(results_df)

       Delete last element (pop) (µs)  Delete first element (pop(0)) (µs)  \
N
10000                       81.799924                        40244.500153
20000                       82.399929                       105641.999980
30000                       55.800192                       120906.000026

       Append 1 at the end (µs)  Insert 1 at the beginning (µs)
N
10000                 88.100089                     7047.899999
20000                151.199987                    10629.399912
30000                164.699974                    15986.199956

9. Python provides a data structure with interesting properties in the collection.deque
class. The word deque stands for double-ended queue because this data structure
is designed to efficiently put and remove elements at the beginning and at the end
of the collection. Evaluate the following methods with N = 10 000, 20 000 and 30
000 elements:\
a. deque.pop()\
b. deque.popleft()\
c. deque.append(1)\
d. deque.appendleft(1)\
Make a table with your results. It should looks like table on pp. 39 on the same book
as previous task.

In [24]:
import timeit
from collections import deque
import pandas as pd

# N = 10 000

In [26]:
# Number of elements
N = 10000

# Operations to be measured on a deque
operations = {
    "deque.pop()": "d.pop()",
    "deque.popleft()": "d.popleft()",
    "deque.append(1)": "d.append(1)",
    "deque.appendleft(1)": "d.appendleft(1)"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    setup_code = "from collections import deque\n" + f"d = deque(range({N}))"
    # Measure the time taken to execute the operation 1000 times
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    results[description] = time_taken

# Convert results to microseconds for display
results_microseconds = {operation: time * 1e6 for operation, time in results.items()}  # Convert seconds to microseconds

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
results_df_microseconds

             Operation  Time (microseconds)
0          deque.pop()            32.200012
1      deque.popleft()            52.999938
2      deque.append(1)            42.699976
3  deque.appendleft(1)            48.799906

# N = 20 000

In [27]:
# Number of elements
N = 20000

# Operations to be measured on a deque
operations = {
    "deque.pop()": "d.pop()",
    "deque.popleft()": "d.popleft()",
    "deque.append(1)": "d.append(1)",
    "deque.appendleft(1)": "d.appendleft(1)"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    setup_code = "from collections import deque\n" + f"d = deque(range({N}))"
    # Measure the time taken to execute the operation 1000 times
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    results[description] = time_taken

# Convert results to microseconds for display
results_microseconds = {operation: time * 1e6 for operation, time in results.items()}  # Convert seconds to microseconds

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
results_df_microseconds

             Operation  Time (microseconds)
0          deque.pop()            58.599981
1      deque.popleft()            29.899878
2      deque.append(1)            57.399971
3  deque.appendleft(1)            51.900046

# N = 30 000

In [28]:
# Number of elements
N = 30000

# Operations to be measured on a deque
operations = {
    "deque.pop()": "d.pop()",
    "deque.popleft()": "d.popleft()",
    "deque.append(1)": "d.append(1)",
    "deque.appendleft(1)": "d.appendleft(1)"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    setup_code = "from collections import deque\n" + f"d = deque(range({N}))"
    # Measure the time taken to execute the operation 1000 times
    time_taken = timeit.timeit(stmt=operation, setup=setup_code, number=1000)
    results[description] = time_taken

# Convert results to microseconds for display
results_microseconds = {operation: time * 1e6 for operation, time in results.items()}  # Convert seconds to microseconds

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])
results_df_microseconds

             Operation  Time (microseconds)
0          deque.pop()            65.700151
1      deque.popleft()            54.799952
2      deque.append(1)            49.999915
3  deque.appendleft(1)            49.100025

10. The efficiency gained by the appendleft and popleft comes at a cost: accesing an
element in the middle of a deque is a O(N) operation. Evaluate the time for the next
operations with with N = 10 000, 20 000 and 30 000 elements:\
a. deque[0]\
b. deque[N-1]\
c. deque[int(N/2)]\
**Make a table with your results. It should looks like table on pp. 39 on the same book
as previous task.**

In [ ]:
import timeit
from collections import deque
import pandas as pd

# N = 10 000

In [29]:
# Number of elements
N = 10000

# Operations to be measured on a deque
operations = {
    "Access first element (deque[0])": "from collections import deque; d = deque(range(N)); d[0]",
    "Access last element (deque[N-1])": "from collections import deque; d = deque(range(N)); d[-1]",
    "Access middle element (deque[int(N/2)])": "from collections import deque; d = deque(range(N)); d[int(N/2)]"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    # Measure the time taken to execute the operation 100,000 times for precision
    time_taken = timeit.timeit(stmt=operation, number=100000, globals={"N": N})
    results[description] = time_taken

# Convert results to microseconds for display
results_microseconds = {operation: time * 1e6 / 100000 for operation, time in results.items()}  # Convert to microseconds per operation

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])

results_df_microseconds

                                 Operation  Time (microseconds)
0          Access first element (deque[0])           180.556220
1         Access last element (deque[N-1])           195.347961
2  Access middle element (deque[int(N/2)])           198.903518

# N = 20 000

In [30]:
# Number of elements
N = 20000

# Operations to be measured on a deque
operations = {
    "Access first element (deque[0])": "from collections import deque; d = deque(range(N)); d[0]",
    "Access last element (deque[N-1])": "from collections import deque; d = deque(range(N)); d[-1]",
    "Access middle element (deque[int(N/2)])": "from collections import deque; d = deque(range(N)); d[int(N/2)]"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    # Measure the time taken to execute the operation 100,000 times for precision
    time_taken = timeit.timeit(stmt=operation, number=100000, globals={"N": N})
    results[description] = time_taken

# Convert results to microseconds for display
results_microseconds = {operation: time * 1e6 / 100000 for operation, time in results.items()}  # Convert to microseconds per operation

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])

results_df_microseconds

                                 Operation  Time (microseconds)
0          Access first element (deque[0])           453.487506
1         Access last element (deque[N-1])           569.251841
2  Access middle element (deque[int(N/2)])           392.400740

# N= 30 000

In [31]:
# Number of elements
N = 30000

# Operations to be measured on a deque
operations = {
    "Access first element (deque[0])": "from collections import deque; d = deque(range(N)); d[0]",
    "Access last element (deque[N-1])": "from collections import deque; d = deque(range(N)); d[-1]",
    "Access middle element (deque[int(N/2)])": "from collections import deque; d = deque(range(N)); d[int(N/2)]"
}

# Measure time for each operation
results = {}
for description, operation in operations.items():
    # Measure the time taken to execute the operation 100,000 times for precision
    time_taken = timeit.timeit(stmt=operation, number=100000, globals={"N": N})
    results[description] = time_taken

# Convert results to microseconds for display
results_microseconds = {operation: time * 1e6 / 100000 for operation, time in results.items()}  # Convert to microseconds per operation

# Convert results to a visual table
results_df_microseconds = pd.DataFrame(list(results_microseconds.items()), columns=['Operation', 'Time (microseconds)'])

results_df_microseconds

                                 Operation  Time (microseconds)
0          Access first element (deque[0])           537.808668
1         Access last element (deque[N-1])           580.213728
2  Access middle element (deque[int(N/2)])           634.435781

11. Explain what is Overallocation in lists.

Overallocation in Python lists refers to the practice of the Python memory management system to allocate more memory than is immediately required for a list. This is done to optimize the performance of operations that extend the list, such as appending elements. When elements are added to a list, instead of allocating space for just the new element, Python allocates space for a number of additional elements beyond the current need. This reduces the number of memory reallocations required as the list grows, which can significantly improve performance. However, it also means that a list might use more memory than its current contents would strictly require, trading off higher memory usage for faster append operations.